# packages for API access
google-genai
google-cloud-translate==2.0.1
openai

# arabic handling
arabic_reshaper
python-bidi

# general usage
python-dotenv

# evaluation
evaluate
unbabel-comet==2.0.1
bert_score
sacrebleu
rouge_score